@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
	line-height: 1.4142;
	font-family: 'Cairo', sans-serif;
	font-optical-sizing: auto;
	scroll-behavior: smooth;

}

body {
	margin: 0;
	min-height: 100vh;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

h1, h2, h3, h4, h5, h6, ul {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

section {
	position: relative;
	padding-inline: max(16.67vw, 1rem);
	padding-block: 1rem;

	& > .section-heading {
		display: inline-block;
		align-self: flex-start;
		padding-inline: 1rem;
	}
}

.headline {
	font-weight: 400;
	display: inline-block;
	border-bottom: solid 1px lightgrey;
	padding-bottom: 1ex;
}

.section-heading {
	text-transform: uppercase;
	background: black;
	color: white;
	font-weight: 100;
	letter-spacing: 0.1em;
}

.button {
	display: inline-block;
	font-family: 'Cairo', sans-serif;
	background-color: midnightblue;
	color: white;
	text-decoration: none;
	font-size: 1.25rem;
	padding: 0.75ex 1.5em;
	border: none;
	border-bottom: cornflowerblue 6px solid;
	transition: background-color 500ms ease;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 300;

	&:hover {
		background-color: mediumblue;
		transition: background-color 250ms ease;
	}
}

.site-header {
	position: fixed;
	top: 0;
	inset-inline: 0;
	padding: 1rem;
	z-index: 1;
	background: white;

	&::after {
		content: '';
		position: absolute;
		display: block;
		top: 100%;
		inset-inline: 0;
		height: 0.75rem;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.125) 0%, rgba(0,0,0,0.0625) 25%, rgba(0, 0, 0, 0));
	}
}

.splash {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
	background: url("/assets/splash.webp") no-repeat center center;
	background-size: cover;
	padding-block: 20vh;
}

.splash-copy {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.splash-heading, .splash-subheading {
	padding-inline: 1rem;
	padding-block: 0.5ex;
	margin: 0;
}

.splash-heading {
	@extend .section-heading;
}

.splash-subheading {
	background: white;
	font-size: 3.33rem;
	font-weight: 300;
	letter-spacing: 0.025em;
}

.benefits {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.benefits-item {
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;
	align-items: start;

	&:nth-of-type(even) {
		flex-direction: row-reverse;
	}
}

.benefits-item-content, .benefits-image {
	flex: 1 0 8rem;
}

.benefits-image {
	width: 8rem;
}

.benefits-item-heading {
	font-size: 1.67rem;
	font-weight: 300;
	border-bottom: solid 1px lightgrey;
	padding-bottom: 1ex;
}

.content-section {
	text-align: center;
}

.site-footer {
	text-align: center;
	background-color: white;
	padding: 1rem;
	border-top: solid 1px lightgrey;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.button {
		align-self: flex-end;
	}
}

.input-group {
	display: flex;
	flex-direction: column-reverse;
	gap: 0.5rem;

	input, textarea {
		font-family: 'Cairo', sans-serif;
		font-size: 1.25rem;
		background-color: lightgrey;
		border: none;
		padding-inline: 1rem;
		padding-block: 0.5ex;
		max-width: 24rem;
	}

	textarea {
		resize: vertical;
	}

	input[type="file"] {
		background: none;
		padding: 0;
	}

	input::file-selector-button {
		font-family: 'Cairo', sans-serif;
		color: mediumblue;
		background: none;
		border: none;
		cursor: pointer;
		transition: color 500ms ease;

		&:hover {
			color: cornflowerblue;
			transition: color 250ms ease;
		}


	}
}
